<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ByteAndHeartDance.coin.mapper.CoinLogMapper">

    <resultMap id="BaseResultMap" type="com.ByteAndHeartDance.coin.model.CoinLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="amount" column="amount" jdbcType="VARCHAR"/>
            <result property="operatorType" column="operator_type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="operatorTime" column="operator_time" jdbcType="TIMESTAMP"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,amount,
        operator_type,status,operator_time,
        description
    </sql>
</mapper>
